* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "poppins", sans-serif;
}

.background {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		url(sources/food.avif);
	background-size: cover;
	background-position: center;
	filter: blur(10px);
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 75%;
	height: 550px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		url(sources/food.avif);
	background-size: cover;
	background-position: center;
	border-radius: 10px;
	margin-top: 20px;
	box-shadow: 0 0 10px rgb(134, 110, 190);
}

.container .content {
	position: absolute;
	top: 0;
	left: 0;
	width: 58%;
	height: 100%;
	background: transparent;
	padding: 80px;
	color: black;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.container .logo {
	font-size: 30px;
}

.text-sci h2 {
	font-size: 40px;
	line-height: 1;
}

.text-sci h2 span {
	font-size: 25px;
}

.text-sci p {
	font-size: 16px;
	margin: 20px 0;
}

.social-icons a i {
	font-size: 33px;
	color: rgb(150, 225, 223);
	margin-right: 10px;
	transition: 0.1s ease;
}

.social-icons a:hover i {
	transform: scale(1.2);
}

.container .logreg-box {
	position: absolute;
	top: 0;
	right: 0;
	width: calc(100% - 58%);
	height: 100%;
	overflow: hidden;
}

.logreg-box .form-box {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background: transparent;
	backdrop-filter: blur(20px);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	color: rgb(6, 1, 93);
}

.logreg-box .form-box .login {
	transform: translateX(450px);
	transition: transform 0.6s ease;
	transition-delay: 0.7s;
}

.logreg-box.active .form-box.login {
	transform: translateX(0);
	transition-delay: 0.7s;
}

.logreg-box .form-box.register {
	transform: translateX(450px);
	transition: transform 0.6s ease;
	transition-delay: 0s;
}

.logreg-box.active .form-box.register {
	transform: translateX(0);
	transition-delay: 0.7s;
}

.form-box h2 {
	font-size: 32px;
	text-align: center;
}

.form-box .input-box {
	position: relative;
	width: 340px;
	height: 50px;
	border-bottom: 2px solid #382929;
	margin: 30px 0;
}

.input-box input {
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	font-size: 16px;
	color: rgb(253, 0, 0);
	font-weight: 500;
	padding-right: 28px;
}

.input-box label {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	font-size: 16px;
	font-weight: 500;
	pointer-events: none;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
	top: -5px;
}

.input-box .icon {
	position: absolute;
	top: 13px;
	right: 0;
	font-size: 19px;
}

.form-box .remember-forgot {
	font-size: 14.5px;
	font-weight: 500;
	margin: -15px 0 15px;
	display: flex;
	justify-content: space-between;
}

.remember-forgot label input {
	accent-color: white;
	margin-right: 3px;
}

.remember-forgot a {
	color: aliceblue;
	text-decoration: none;
}

.remember-forgot a:hover {
	text-decoration: underline;
}

.btn {
	width: 100%;
	height: 45px;
	background: rgb(198, 228, 239);
	border: none;
	outline: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	color: white;
	font-weight: 500;
	box-shadow: 0 0 10px rgb(134, 110, 190);
}

.form-box .login-register {
	font-size: 14.5px;
	font-weight: 500;
	text-align: center;
	margin-top: 25px;
}

.login-register p a {
	color: rgb(12, 13, 13);
	font-weight: 600;
	text-decoration: none;
}

.login-register p a:hover {
	text-decoration: underline;
}
