* {
	padding: 0; 
	margin: 0;
	font-family: sans-serif; 
}

body {
	min-height: 100vh; 
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		url(food.avif); 
	background-size: cover; 
	background-position: center; 
	align-items: center; 
}

.login-form {
	width: 350px; 
	top: 50%;
	left: 50%; 
	transform: translate(
		-50%,
		-50%
	); 
	position: absolute; 
	color: black; 
}

.login-form h1 {
	font-size: 40px; 
	text-align: center;
	text-transform: uppercase; 
	margin: 40px 0; 
}

.login-form p {
	font-size: 20px; 
	margin: 15px 0; 
}

.login-form input {
	font-size: 16px; 
	width: 100%; 
	padding: 15px 10px;
	border-radius: 5px; 
	border: none;
}

.login-form button {
	font-size: 16px; 
	width: 50%; 
	padding: 15px 10px; 
	border-radius: 5px;
	margin: 20px; 
}

.logo {
	width: 210px; 
	height: 150px; 
	border-radius: 30%; 
	padding-right: 20px; 
}

nav {
	display: flex; 
	align-items: center; 
	justify-content: space-between; 
	padding: 20px 7%; 
}
